<h1>Shopping Cart</h1>
<ng-container>
  <p>
    You have {{numberOfItems}} items in your cart
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productId of productIds">
        <ng-container *ngIf="cart$.items[productId].quantity > 0">
        <td>{{ cart$.items[productId].product.title }}</td>
        <td>{{ cart$.items[productId].quantity }}</td>
        <td>{{ cart$.items[productId].product.price * cart$.items[productId].quantity | currency:'USD':true}}</td>
        </ng-container>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th>{{ totalPrice | currency:'USD':true}}</th>
      </tr>
    </tfoot>
  </table>
</ng-container>
